header {
  color: white;
  margin-bottom: 20px;
  h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    color: #fff;
  }
  .subtitle {
    width: 40%;
  }
}
