body {
  background-color: #8391ab;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  margin: 50px 100px 0;
}

.border {border: 1px solid;}

header {
  color: white;
  margin-bottom: 20px;
}
section {
  background: #fff;
  padding: 20px 50px 50px;

}
